<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') -%>

  <body>
    <%- include('partials/header') -%>
      <main>
        <section class="hero padding">
          <div class="bg"></div>
          <div class="container">
            <div class="flex hero-wrapper sm-wrap">
              <div class="flex-100  sm-flex-100 align-self-center">
                <h1>
                  Event Planning Is <br> Hard.

                </h1>
                <p>
                  We can Help
                </p>
                <a class="btn btn-2" href="/events/add">Plan an Event</a>
              </div>
            </div>
          </div>
        </section>
        <section id="about">
          <div class="container about sm-wrap padding-4 flex">
            <div class="flex-39 sm-flex-100">
              <img class="full-width hero-img" src="/images/about.png" alt="about" />
            </div>
            <div class="flex-58 sm-flex-100 align-self-center">
              <h2>ABOUT THE FIRM</h2>
              <p>
                Alt Event is a full service event management firm based in Calgary, Alberta that was created by pairing
                together
                our passion for business and events. We bring a fresh, unique approach to the event management industry.
                Our team understands that a properly executed event can be leveraged to support an organization's
                strategic
                vision, incorporated into a company's marketing plan,
                or used to build networks and client loyalty.
              </p>
              <a class="btn btn-2" href="#">Know More</a>
            </div>
          </div>
        </section>
        <section class="why">
          <div class="container">
            <h3>Why You Should Join</h3>
            <div class="why-parent sm-wrap flex">
              <div class="flex-26 sm-marbot sm-flex-100">
                <p class="index-no">1</p>
                <div class="why-wrapper">
                  <h4>Network</h4>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum
                    dolorum culpa assumenda porro corporis, amet praesentium sint
                    quidem adipisci. Illum?Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                  </p>
                </div>
              </div>
              <div class="flex-26 sm-marbot sm-flex-100">
                <p class="index-no">2</p>
                <div class="why-wrapper">
                  <h4>Great Speakers</h4>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum
                    dolorum culpa assumenda porro corporis, amet praesentium sint
                    quidem adipisci. Illum?Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                  </p>
                </div>
              </div>
              <div class="flex-26 sm-marbot sm-flex-100">
                <p class="index-no">3</p>
                <div class="why-wrapper">
                  <h4>Information</h4>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum
                    dolorum culpa assumenda porro corporis, amet praesentium sint
                    quidem adipisci. Illum?Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="schedule">
          <div class="container">
            <h2>Schedule</h2>
            <div class="flex col">
              <div class="flex sm-wrap schedule-card">
                <div class="flex-10 sm-flex-100">
                  <div class="circle flex center align-center accent-circle">
                    06<br />
                    Sept
                  </div>
                </div>
                <div class="sch-img-container sm-flex-100">
                  <img class="full-width" src="/images/schedule-01.jpg" alt="" />
                </div>
                <div class="sch-text-container sm-flex-100">
                  <h4>Digital World Event Conversation</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui
                    neque rem repudiandae totam. Labore doloribus porro ex
                    cupiditate error fugiat.
                  </p>
                </div>
              </div>
              <div class="flex sm-wrap schedule-card">
                <div class="flex-10 sm-flex-100">
                  <div class="circle flex center align-center">
                    07<br />
                    Sept
                  </div>
                </div>
                <div class="sch-img-container sm-flex-100">
                  <img class="full-width" src="/images/schedule-02.jpg" alt="" />
                </div>
                <div class="sch-text-container sm-flex-100">
                  <h4>Web Designing Conversation</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui
                    neque rem repudiandae totam. Labore doloribus porro ex
                    cupiditate error fugiat.
                  </p>
                </div>
              </div>
              <div class="flex sm-wrap schedule-card">
                <div class="flex-10 sm-flex-100">
                  <div class="circle flex center align-center">
                    08<br />
                    Sept
                  </div>
                </div>
                <div class="sch-img-container sm-flex-100">
                  <img class="full-width" src="/images/schedule-03.jpg" alt="" />
                </div>
                <div class="sch-text-container sm-flex-100">
                  <h4>Web Development Conversation</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui
                    neque rem repudiandae totam. Labore doloribus porro ex
                    cupiditate error fugiat.
                  </p>
                </div>
              </div>
              <div class="flex sm-wrap schedule-card">
                <div class="flex-10 sm-flex-100 last-item">
                  <div class="circle flex center align-center">
                    09<br />
                    Sept
                  </div>
                </div>
                <div class="sch-img-container sm-flex-100">
                  <img class="full-width" src="/images/schedule-04.jpg" alt="" />
                </div>
                <div class="sch-text-container sm-flex-100">
                  <h4>Digital Marketing Conference</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui
                    neque rem repudiandae totam. Labore doloribus porro ex
                    cupiditate error fugiat.
                  </p>
                </div>
              </div>
            </div>
            <div class="download">
              <a class="btn btn-2" href="#">Download Schedule</a>
            </div>
          </div>
        </section>
        <section class="ideas">
          <div class="container sm-wrap flex">
            <div class="idea-card sm-flex sm-justify-between align-center sm-flex-100 flex-20">
              <img src="/images/speaker.png" alt="speaker" />

              <h4>20+</h4>
              <p>Great Speakers</p>
            </div>
            <div class="idea-card sm-flex sm-justify-between align-center sm-flex-100 accent-card flex-20">
              <img src="/images/idea.png" alt="idea" />

              <h4>50+</h4>
              <p>Total Topic</p>
            </div>
            <div class="idea-card sm-flex sm-justify-between align-center sm-flex-100 flex-20">
              <img src="/images/participants.png" alt="participants" />

              <h4>300+</h4>
              <p>Participants</p>
            </div>
            <div class="idea-card sm-flex sm-justify-between align-center jus sm-flex-100 flex-20">
              <img src="/images/sponsor.png" alt="sponsor" />

              <h4>20+</h4>
              <p>Sponsors</p>
            </div>
          </div>
        </section>
        <section class="video">
          <div class="container">
            <div class="video-wrapper">
              <iframe src="https://www.youtube.com/embed/668nUCeBHyY" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </section>
        <section class="news">
          <div class="container">
            <h2>Our Latest News</h2>
            <div class="flex sm-wrap">
              <div class="flex-30 sm-flex-100">
                <div>
                  <img class="full-width" src="/images/news-01.png" alt="news-01" />
                </div>
                <h5>How to build a great portfolio as a beginner developer</h5>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                  quibusdam accusantium, quam dignissimos beatae iure nostrum!
                  Unde et nihil culpa molestias impedit, eligendi eos neque?
                  Blanditiis perspiciatis a natus obcaecati.
                </p>
                <a class="btn-news" href="#">Read More</a>
              </div>
              <div class="flex-30 sm-flex-100">
                <div>
                  <img class="full-width" src="/images/news-02.png" alt="news-02" />
                </div>
                <h5>4 common situations while using Git and how to solve them</h5>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                  quibusdam accusantium, quam dignissimos beatae iure nostrum!
                  Unde et nihil culpa molestias impedit, eligendi eos neque?
                  Blanditiis perspiciatis a natus obcaecati.
                </p>
                <a class="btn-news accent-btn" href="#">Read More</a>
              </div>
              <div class="flex-30 sm-flex-100">
                <div>
                  <img class="full-width" src="/images/news-03.png" alt="news-03" />
                </div>
                <h5>Basic Unix commands that you should know</h5>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                  quibusdam accusantium, quam dignissimos beatae iure nostrum!
                  Unde et nihil culpa molestias impedit, eligendi eos neque?
                  Blanditiis perspiciatis a natus obcaecati.
                </p>
                <a class="btn-news" href="#">Read More</a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include('partials/footer') -%>
  </body>

</html>