<footer>
    <header>
        <div class="container sm-wrap flex justify-start">
            <div class="flex-30 sm-flex-100 sm-text-center align-self-center">
                <img src="/images/footer-logo.png" alt="logo" />
            </div>

            <div class="flex-50 sm-flex-100 sm-text-center">
                <h6>Quick Links</h6>
                <ul class="flex sm-justify-center justify-start">
                    <li><a href="/events/add">Add Event</a></li>
                    <li><a href="/#about">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
            <div class="flex-20 sm-flex-100 sm-text-center">
                <h6>Follow Us</h6>
                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
            </div>
        </div>
    </header>
    <footer>
        <div class="container copyright">
            &copy; Visawjeet Mallik, 1997-present
        </div>
    </footer>
</footer>