<header class="header">
    <div class="container navbar flex padding align-center">
        <a class="brand flex-26" href="/">Alt Events</a>
        <label class="bars" for="menu">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="menu" />
        <nav class="nav">
            <ul class="flex sm-col flex-68 align-center justify-end">
                <li><a href="/">HOME</a></li>
                <li><a href="/#about">ABOUT</a></li>
                <li><a href="/events">EVENTS</a></li>
                <li><a class="btn" href="/events/add">Plan Event</a></li>
            </ul>
        </nav>
    </div>
</header>